* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 32px;
    color: #373F41;
    margin-bottom: 30px;
}
h3 {
    font-size: 18px;
    color: #373F41;
    font-weight: bold;
    margin-bottom: 20px;
}
h4 {
    font-weight: 500;
    color: #737B7D;
    margin-bottom: 30px;
    letter-spacing: 0.2px;
    font-size: 16px;
}
h5 {
    color: #373F41;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.d-block {
    display: block;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.text-aligin-center {
    text-align: center;
}
.row {
    /* margin-left: -15px;
    margin-right: -15px; */
}
.col-md-6 {
    width: 50%;
    padding: 0 15px;
}
.col-md-4 {
    width: 33.333%;
    padding: 0 15px;
}
.col-md-3 {
    width: 25%;
    padding: 0 15px;
}
header {
    height: 80px;
    background-color: #f4f6fb;
}
header .logo,
header nav,
header .header-right {
    width: 33.333%;
}
header nav {
    display: flex;
    justify-content: center;
}
header nav ul a {
    font-size: 14px;
    color: #373F41;
    font-weight: bold;
}
header nav ul li {
    margin: 0 15px;
}
header .buttons a:first-child {
    color: #3C64B1;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}
header .buttons a:first-child:hover {
    color: #1047ad;
    text-decoration: underline;
}
header .buttons a:last-child:hover {
    background-color: #1047ad;
}
header .buttons a:last-child {
    background-color: #3C64B1;
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}
header .header-right {
    justify-content: flex-end;
    align-items: center;
}
header .header-right .nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #3C64B1;
    z-index: 100;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
}
header .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
header .header-right .nav-mobile > ul li:hover a {
    font-size: 18px;
    color: #f4f6fb;
}
header .header-right .nav-mobile > ul li:hover {
    background-color: #1847a0;
    transition: 0.5s;
}
header .header-right .nav-mobile > ul a {
    color: #fff;
    padding: 25px;
    display: block;
    font-size: 16px;
    transition: 0.3s;
}
#nav-mobile-input {
    display: none;
}
header .nav-btn {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
#nav-mobile-input:checked ~ .nav-mobile {
    transform: translateX(0%);
    opacity: 1;
}
#nav-mobile-input:checked ~ .nav-overlay {
    display: block;
}
#nav-mobile-input:checked ~ .nav-btn span {
    display: none;
}
#nav-mobile-input:checked ~ .nav-btn::before {
    transform-origin: left;
    transform: rotate(40deg);
}
#nav-mobile-input:checked ~ .nav-btn::after {
    transform-origin: left;
    transform: rotate(-40deg);
}
header .nav-btn span {
    width: 38px;
    height: 5px;
    background-color: #3C64B1;
    display: block;
    border-radius: 3px;
}
header .nav-btn {
    width: 40px;
    position: relative;
}
header .nav-btn::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 5px;
    background-color: #3C64B1;
    top: -10px;
    border-radius: 3px;
    transition: transform 0.5s ease 0s;
}
header .nav-btn::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 5px;
    background-color: #3C64B1;
    top: 10px;
    border-radius: 3px;
    transition: transform 0.5s ease 0s;
}
.section-frist {
    background-image: url(../images/bg.png);
    height: 560px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-frist .content-text {
    width: 100%;
    max-width: 700px;
}
.section-frist .content-text h1 {
    font-size: 44px;
    margin-bottom: 50px;
}
.section-frist .content-text h4 {
    margin-bottom: 50px;
}
.section-frist .content-text .buttons a:first-child {
    padding: 10px 15px;
    border: 1px solid #3C64B1;
    background-color: #3C64B1;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.section-frist .content-text .buttons a:last-child {
    padding: 10px 15px;
    border: 1px solid #3C64B1;
    color: #3C64B1;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 14px ;
}
.introduce h2 {
    margin-bottom: 25px;
}
.introduce > h4 {
    margin-bottom: 50px;
}
.introduce .row .col-md-4 img {
    margin-bottom: 25px;
}
.introduce .row .col-md-4 a {
    color: #3C64B1;
    font-size: 14px;
    font-weight: bold;
}
.product form {
    margin-bottom: 15px;
    justify-content: space-between;
}
.product .col-md-6 form input {
    height: 42px;
    width: 70%;
    background-color: #F4F5F4;
    border: none;
    padding-left: 15px;
    outline: none;
    font-size: 14px;
}
.product .col-md-6 form button {
    width: 28%;
    font-size: 14px;
    background-color: #3C64B1;
    border: none;
    color: #fff;
    font-weight: bold;
}
.product .col-md-6 p {
    color: #737B7D;
    font-size: 12px;
    font-weight: 500;
}
.product-thumb .row-inside img {
    margin-bottom: 20px;
}
section {
    margin-bottom: 80px;
}
.list-product .col-md-3 img {
    width: 100%;
    margin-bottom: 25px;
}

/* ipad Pro */
@media(max-width: 1024px) {

    .container {
        max-width: 960px;
    }

}


/* ipad */
@media(max-width: 768px) {
    header {
        height: 80px;
    }

    .container {
        max-width: 720px;
    }
    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-md-4 {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-md-3 {
        width: 50%;
        margin-bottom: 20px;
    }
    header nav {
        display: none;
    }
    header .nav-btn {
        display: block;
    }
    header .logo,
    header .header-right {
        width: 50%;
    }
    header .buttons a:first-child,
    header .buttons a:last-child {
        font-size: 6px;
        padding: 8px;
    }
    .section-frist {
        height: 450px;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h4 {
        margin-bottom: 20px;
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
        margin-bottom: 18px;
    }
    .product .col-md-6 p {
        font-size: 12px;
    }
    .product .col-md-6 form input,
    .product .col-md-6 form button {
        font-size: 15px;
        height: 40px;
    }
    .product .col-md-6 form {
        justify-content: flex-start;
    }
    .product .col-md-6 form input {
        width: 50%;
    }
    .product .col-md-6 form button {
        width: 25%;
    }
    .product-thumb .row {
        flex-direction: column-reverse;
    }
    .product-thumb .row-inside .col-md-6 {
        width: 50%;
    }
    .introduce h2,
    .introduce .row .col-md-4 img,
    .product-thumb .row-inside img {
        margin-bottom: 15px;
    }
    .introduce > h4,
    .list-product .col-md-3 img {
        margin-bottom: 20px;
    }
    section {
        margin-bottom: 50px;
    }
    .introduce .content .col-md-4 {
        background-color: #f4f6fb;
        padding: 20px;
    }
}
/* mobie */
@media(max-width: 415px) {

    .container {
        max-width: 720px;
    }
    header .header-right .nav-mobile {
        width: 80%;
    }
    header .header-right .nav-mobile > ul a {
        font-size: 12px;
    }
    header {
        height: 50px;
    }
    header .logo,
    header .header-right {
        width: 50%;
    }
    .section-frist .content-text h1 {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .section-frist .content-text h4 {
        margin-bottom: 25px;
    }
    .section-frist .content-text .buttons a:first-child,
    .section-frist .content-text .buttons a:last-child {
        font-size: 10px;
    }
    .section-frist {
        height: 300px;
    }
    h2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 10px;
        margin-bottom: 5px;
    }
    h4 {
        font-size: 8px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 5px;
        margin-bottom: 10px;
    }
    .product .col-md-6 p {
        font-size: 5px;
    }
    .product .col-md-6 form input,
    .product .col-md-6 form button {
        font-size: 6px;
        height: 20px;
    }
    .introduce h2,
    .introduce .row .col-md-4 img,
    .product-thumb .row-inside img,
    .product form {
        margin-bottom: 10px;
    }
    .introduce > h4,
    .list-product .col-md-3 img {
        margin-bottom: 10px;
    }
    section {
        margin-bottom: 25px;
    }

    .col-md-6,
    .col-md-4,
    .col-md-3  {
        padding: 0 6px;
    }

}